<!-- views/partials/footer.ejs -->

<footer id="footer">
  <div class="container">
    <div class="icons">
      <ul>
        <li><a href="#" class="icon fab fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon fas fa-envelope"><span class="label">Email</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      Awesome EEG &copy; Copyright 2019 
    </div>
  </div>
</footer>
