<!doctype html>
<html lang="en">
<!-- Head -->
<% include ../partials/head %>

<body>
  <!-- Nav -->
  <% include ../partials/nav %>
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb container">
      <li class="breadcrumb-item"><a href="/">HOME</a></li>
      <li class="breadcrumb-item active" aria-current="flappy">FLAPPY BIRD</li>
    </ol>
  </nav>
  <!-- Main -->
  <main role="main" class="container">
    <!-- Modal -->
    <div id="gameModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="/results" method="POST">
            <div class="modal-body">
              <div class="form-group">
                <h4 class="modal-title text-center">Game Over</h4>
                <label id="label" for="name"></label>
                <input id="name" class="form-control" type="text" name="name" placeholder="Enter your name" required>
                <input id="score" type="hidden" name="score" class="form-control">
              </div>
              <button id="playAgain" type="button" class="btn btn-secondary" data-dismiss="modal">Play Again!</button>
              <button type="submit" class="btn btn-primary">Save the score!</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="canvas-container" class="container">
      <canvas id="canvas" width="800" height="480"></canvas>
    </div>
    <div class="statistics">
      <h5 class="text-muted">LEADER BOARD</h5>
      <ol>
        <% for(let key in data) { %>
          <li ><%=data[key].username%> - <%=data[key].score%></li>
        <% } %>
      </ol>
    </div>
  </main>
  <!-- Footer -->
  <% include ../partials/footer %>
  <!-- Script -->
  <% include ../partials/script %>
  <!-- Optional JavaScript -->
  <script type="text/javascript" src="/js/gameOld.js"></script>
</body>

</html>