<!doctype html>
<html lang="en">
  <!-- Head -->
  <% include ../partials/head %>
<body>
  <!-- Nav -->
  <% include ../partials/nav %>
  <!-- Main -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">AWESOME EEG</h1>
      <p class="lead">Welcome to </p>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos harum eum incidunt, debitis assumenda molestiae ab recusandae rem maiores quaerat aperiam, impedit accusantium nesciunt odio libero, consectetur sit expedita magni!</p>
      <a class="btn btn-primary btn-sm" href="/flappy" role="button">Play the game</a>
    </div>
    <div class="content">
      <h4>ABOUT US</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio voluptatibus at quo, voluptas non voluptates optio quisquam, corrupti maiores molestiae, quis maxime possimus illum sit ut tempore porro. Commodi?</p>
      <a class="btn btn-primary btn-sm float-right" href="/flappy" role="button">Contact Us</a>
    </div>
  </main>
  <!-- Footer -->
  <% include ../partials/footer %>
  <!-- Script -->
  <% include ../partials/script %>
</body>

</html>