<!doctype html>
<html lang="en">
  <!-- Head -->
  <% include ../partials/head %>
<body>
  <!-- Nav -->
  <% include ../partials/nav %>
  <!-- Main -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">AWESOME EEG</h1>
      <p class="lead">Would you like to exprience a new way to play game? Our product can help you to get that.</p>
      <hr class="my-4">
      <p>Our aim is to create one of the most affordable brainwave-reading eeg headset on the market. In order to test the product, please click on the below button.</p>
      <a class="btn btn-primary btn-sm" href="/flappy" role="button">Play the game</a>
    </div>
    <div class="content">
      <h4>ABOUT US</h4>
      <p>We are an awesome team!</p>
      <a class="btn btn-primary btn-sm float-right" href="/" role="button">Contact Us</a>
    </div>
  </main>
  <!-- Footer -->
  <% include ../partials/footer %>
  <!-- Script -->
  <% include ../partials/script %>
</body>

</html>